<div [id]="id">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li class="active">
            <a href="#">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-dashboard fa-stack-1x"></i>
                </span> Dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-cart-plus fa-stack-1x"></i>
                </span> Events
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-youtube-play fa-stack-1x"></i>
                </span> About
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-wrench fa-stack-1x"></i>
                </span> Services
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-server fa-stack-1x"></i>
                </span> Contact
            </a>
        </li>
    </ul>
</div>